body {
    margin: 0%;
    padding: 0%;
    ;
}

img.slide {
    margin-top: 20px;
}

.dark {
    color: black;
}

.text-center {
    margin-top: 30px;
}

.container-fluid {
    display: flex;
    gap: 130px;
    margin-top: 60px;
}

.pro {
    margin-left: 50px;
    color: black;
}

.your {
    color: rgb(176, 176, 80);
}



